@import url("modal.css");

/* info form styling */
/******************************************************************************/
#register-form * + input {
  margin-top: 5px;
}

#register-form .well {
  margin-top: 5px;
}

#register-form img {
  width: 92px;
  height: 92px;
  padding: 5px;
  margin-right: 15px;
}