html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #dedede;
}

body {
  overflow-x: hidden;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main-content {
  margin-left: 50px;
  height: 100%;
  -webkit-transition: margin-left 0.3s, height 1s;
  -moz-transition: margin-left 0.3s, height 1s;
  transition: margin-left 0.3s, height 1s;
}

#main-content > section > .row {
  margin-left: 0;
  margin-right: 0;
}

#top-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: rgba(0, 212, 255, 0.81);
  z-index: 9998;
  padding-left: 50px;
  -webkit-transition: padding 0.3s;
  -moz-transition: padding 0.3s;
  transition: padding 0.3s;
}

#left-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  background: #fff;
  z-index: 9999;
  padding: 10px;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
}

.menu-toggle {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  z-index: 10002;
  padding-top: 3px;
  -webkit-transition: right 0.3s, opacity 0.3s, left 0.3s;
  -moz-transition: right 0.3s, opacity 0.3s, left 0.3s;
  -ms-transition: right 0.3s, opacity 0.3s, left 0.3s;
  -o-transition: right 0.3s, opacity 0.3s, left 0.3s;
  transition: right 0.3s, opacity 0.3s, left 0.3s;
}

.menu-toggle-open>.bar {
  background: white !important;
}

.menu-toggle-open>.bar:nth-child(1) {
  -webkit-transform: translate(0px, 7px) rotate(-45deg );
  -moz-transform: translate(0px, 7px) rotate(-45deg );
  -ms-transform: translate(0px, 7px) rotate(-45deg );
  -o-transform: translate(0px, 7px) rotate(-45deg );
  transform: translate(0px, 7px) rotate(-45deg );
}

.menu-toggle-open>.bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle-open>.bar:nth-child(3) {
  -webkit-transform: translate(0, -7px) rotate(45deg );
  -moz-transform: translate(0, -7px) rotate(45deg );
  -ms-transform: translate(0, -7px) rotate(45deg );
  -o-transform: translate(0, -7px) rotate(45deg );
  -transform: translate(0, -7px) rotate(45deg );
}

.menu-toggle>.bar {
  width: 24px;
  height: 3px;
  background: #00d4ff;
  margin-left: 3px;
  margin-top: 4px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: transform 0.3s, opacity 0.3s;
  -ms-transition: transform 0.3s, opacity 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

#top-menu-toggle>.bar {
  background: white;
}

#left-menu-toggle {
    left: 10px;
}

#top-menu-toggle {
  right: -40px;
}

#top-menu>#logo {
  height: 100%;
}

#login-button {
  position: fixed;
  top: 0;
  right: 10px;
  height: 50px;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 50px;
  text-decoration: none;
  -webkit-transition: right 0.3s, opacity 0.3s;
  -moz-transition: right 0.3s, opacity 0.3s;
  transition: right 0.3s, opacity 0.3s;
  z-index: 10002;
  cursor: pointer;
}

#login-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

#menu {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0px;
  z-index: 10000;
  background: #00d4ff;
  display: none;
  width: 100%;
  height: 100%;
}

#menu>ul>li>a {
  font-size: 44px;
  color: white;
  width: 100%;
  display: block;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
  margin-top: 0px;
}

#menu>ul>li {
  list-style: none;
  text-align: center;
  width: 100%;
}

#menu>ul {
  display: table-cell;
  vertical-align: middle; 
  padding: 0;
}

footer {
  padding: 20px;
  text-align: center;
}

@media (max-width: 1023px) {
  #left-menu {
    width: 0;
    padding: 0;
  }
  #main-content {
    margin-left: 0;
  }
  #top-menu {
    padding-left: 0;
  }
  #top-menu-toggle {
    right: 10px;
  }
  #left-menu-toggle {
    left: -40px;
  }
  #menu>ul>li>a {
    font-size: 33px;
  }
  #menu {
    padding: 0;
  }
  #login-button {
    right: 50px;
  }
}

@media (max-width: 400px) {
  #login-button {
    opacity: 0;
  }
  #menu>ul>li>a {
    font-size: 22px;
  }
}


#splash-screen {
  position: relative;
  width: 100%;
  height: calc(100% - 20px);
  margin-bottom: 20px;
  background-image: url('../imgs/splash-01.jpg');
  background-size: cover;
  background-position: top center;
}

#splash-screen>#splash-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}

#splash-screen>#splash-footer>#arrow {
  height: 15px;
  margin-top: 10px;
  margin: 0;
  padding: 0;
}

#splash-screen>#splash-footer>#arrow:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -15px;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #dedede;
  border-left: 15px solid transparent;
  content: ' '
}

.how-to-column {
  padding: 40px;
  padding-top: 25px;
}

.how-to-column h4 {
  text-align: center;
  height: 60px;
  margin-bottom: 20px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
}

.how-to-column p {
  text-align: center;
}