#restaurant-info {
  padding: 20px;
  min-height: 100px;
  float:left;
  width: 100%;
}

#restaurant-info img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

#restaurant-info h4,
#restaurant-info p {
  margin: 0;
}

#meals-list th,
#meals-list td {
  border-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#meals-list .table-hover>tbody>tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#meals-list .table>tbody>tr {
  height: 32px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}

.table td:first-child,
.table th:first-child {
  padding-left: 20px;
}

.table td:last-child,
.table th:last-child {
  padding-right: 20px;
}

#meals-list .meal-name {
  width: 60%;
}

#meals-list .meal-rating {
  width: 15%;
}

#meals-list .meal-price {
  width: 10%;
}

#meals-list .meal-amount {
  font-weight: bold;
  text-align: center;
}

#meals-list .table-hover > tbody > tr{
  -webkit-transition: background-color 0.6s;
  -moz-transition: background-color 0.6s;
  -ms-transition: background-color 0.6s;
  -o-transition: background-color 0.6s;
  transition: background-color 0.6s;
}

#meals-list table {
  margin: 0;
}