#main-content {
  padding: 20px;
  padding-top: 50px; 
}

address {
  margin: 0;
  margin-bottom: 5px;
}

.order-value-row td {
    border-top: 3px solid #ddd !important;
  font-weight: bold;
}

.table-order tbody td {
  height: 51px;
}

.table-order tbody td:nth-child(2) input {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.table-order tbody td:nth-child(2) *:focus {
  outline: none;
}

.table-order tbody td:nth-child(1),
.table-order tbody td:nth-child(3){
  vertical-align: middle !important; 
}

.table-order tbody td:nth-child(3) {
  font-weight: bold;
  width: 15%;
  text-align: center;
}

.table-order tbody td:nth-child(2) {
    width: 110px;
}

#change-address-modal .popover-content {
  color: red;
  font-weight: bold;
}

.panel .panel-heading {
  background: #fcfcfc;
  color: #00bde3;
}